/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Ubuntu', sans-serif;
}

body {
  font: 1em/1.5;
  color: #666;
	background: #404552;
}

header {
	text-align: center;
}

header span {
  color: lightgray;
  font-weight: 500;
  font-size: 1.2em;
  text-shadow: 1.5px 2px 6px rgba(0, 0, 0, 0.5);
}

h1 {
	font-size: 2.5em;
	text-shadow: 1.5px 2px 6px rgba(0, 0, 0, 0.5);
	margin: 0;
  color: lightgray;
  font-weight: bold;

}

a {
  text-decoration: none;
}

/* =================================
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background: #38383d;
  border-radius: .75em;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.6em;
}

legend,
button {
	font-size: 1.25em;
}

legend {
	font-weight: 700;
	padding-top: .5em;
	border-top: 1.5px solid lightgray;
	margin-bottom: 1.125em;
  color: #45a1ff;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}



label {
	color: #fff;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: silver;
	border: 2px solid #38383d;
	outline: none;
  border-radius: .75em;
}

input:focus {
	background: #fff;
	border-color: #45a1ff;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #45a1ff;
	margin: 1.25em 0 1em;
	cursor: pointer;
  border-radius: .5em;
  font-weight: bold;
}

button:hover {
	background: #285d93;
}

#sum,
.activities span {
  color: #45a1ff;
}

.nameError,
.mailError {
  display: block;
  text-align: right;
  font-weight: bold;
  color: red;
  margin-bottom: 1em;
}

.buttonError,
.paymentError {
  display: block;
  text-align: left;
  font-weight: bold;
  color: red;
  margin-bottom: 1em;
}

.checkBoxError {
  display: block;
  text-align: left;
  font-weight: bold;
  color: red;
  margin-top: 1em;
}
/* =================================
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* =================================
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}
